/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    position: relative;
    flex-direction: column;
}

nav.nav-desktop{
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.nav-desktop .logo{
    height: 79px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.nav-desktop .logo img{
    height: 19px;
}

nav.nav-desktop .link {
    display: flex;
    position: relative;
    align-items: flex-start;
    height: 79px;
}




nav.nav-desktop ul{
    display: flex;
    list-style: none;
    gap: 4rem;
    height: 35px;
    margin-top: 0;
    padding: 0;
}

.nav-desktop ul li{
    font-size: 16px;
    margin-top: 12px;
}

.nav-desktop ul li.active, .nav-desktop ul li:hover{
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
    padding-top: 10px;
    margin-top: 0px;
}

.welcome{
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 35px;
}

.welcome-title{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.welcome h1{
margin: 0;
padding: 0;
}

.welcome p{
padding: 0;
}

.welcome .search{
    display: flex;
    align-items: center;
    margin-block: 2rem;
    width: 370px;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
}

.welcome .search i{
    font-size: 20px;
    width: 50px;
    height: 50px;
    color: black;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F2F2F2;
}

.welcome .search input[type="text"]{
    height: 50px;
    width: 277px;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    border: none;
    padding-left: 15px;
    color: #000;
    font-weight: 700;
    z-index: 1;
}

.welcome .search input[type="text"]::placeholder{
    color: #000;
    font-weight: 700;
}

.welcome .search input[type="submit"]{
    height: 52px;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    width: 132px;
    background-color: var(--main-color);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
    color: white;
    font-weight: 700;
    border: 1px solid var(--main-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome .search button[type="submit"]{
    display: none;
}

@media (max-width: 768px) {
    .welcome .search input[type="submit"]{
        display: none;
    }
    .welcome .search button[type="submit"]{
        display: flex;
    }
}
.welcome .search button[type="submit"]:hover, input[type="submit"]:hover{
    cursor: pointer;
}

.welcome .search button{
    height: 52px;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    width: 56px;
    background-color: var(--main-color);
    color: white;
    font-weight: 700;
    border: 1px solid var(--main-color);
    border-radius: 15px;
    z-index: 1;
}

.welcome .search button i{
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: white;
}

.welcome .filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.welcome .filter h2{
    margin: 0;
    padding: 0;
}

.welcome .filter .filter-item{
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 25px;
    border: 2px solid #F2F2F2;
    padding-inline: 20px;
}

.welcome .filter .filter-item:hover{
    cursor: pointer;
    background-color: #DEEBFF;
}

.welcome .filter .filter-item i{
    font-size: 14px;
}

.welcome .filter .filter-item p{
    font-size: 14px;
    font-weight: bold;
}

.welcome .welcome-infos{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.welcome .welcome-infos i{
    font-size: 16px;
    width: 16px;
    height: 16px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #D9D9D9;
    padding: 10px;
}

.welcome .welcome-infos p{
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    gap: 30px;
    display: flex;
    flex-direction: column;
}


@media (max-width: 768px) {
    .main-container{
        margin: 0;
        padding: 0;
        width: 100%;
    }

    section#welcome{
        width: 90%;
        margin: 0 auto;
    }
    nav.nav-desktop{
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
    }


    nav.nav-desktop .link *{
        all: unset;
    }

    nav.nav-desktop .link {
        width: 100%;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    nav.nav-desktop .link ul{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
   }

   nav.nav-desktop .link ul li{
    display: flex;
    position: relative;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #F2F2F2;
   }
   nav.nav-desktop ul li.active, nav.nav-desktop ul li:hover{
    color: var(--main-color);
    border: none;
    border-bottom: 2px solid var(--main-color);
    padding: 0;
    padding-bottom: 0;
    margin-top: 0px;
    cursor: pointer;
    }

}


a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards{
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
}

.hebergements-cards a{
    width: calc(33% - 30px);
}

.hebergements-cards .card{
    height: 200px;
    width: 100%;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);

}

.hebergements-cards .card img{
    height: 124px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0;
    padding: 0;
}

.hebergements-cards .card-content{
    margin: 0;
    padding: 0;
    padding-left: 15px;
}

.hebergements-cards .card-content .card-txt{
    margin: 0;
    padding: 0;
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.hebergements-cards .card-content .card-txt .card-title{
    margin: 0;
    padding: 0;
}

.hebergements-cards .card-content .card-txt .card-subtitle{
    margin: 0;
    padding: 0;
}

.hebergements-cards .card-content .card-rating{
    margin: 0;
    padding: 0;
}

.hebergements-cards .card-content .card-rating i{
    margin: 0;
    padding: 0;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
.activities {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
}

.activities-title {
    margin-bottom: 30px;
}

.activities-cards {
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.activities-cards a {
    width: calc(25% - 23px);
}

.activities-cards .card {
    width: 100%;
    padding: 0;
    height: 445px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.activities-cards .card img {
    width: 100%;
    height: 390px;
    object-fit: cover;
}

.activities-cards .card-content {
    padding: 20px;
}

.activities-cards .card-title {
    margin: 0;
    font-size: 16px;
}










footer{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--main-bg-color);
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
}

footer .footer-row{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 33%;
    margin: 0;
    padding: 0;
    padding: 20px;
    box-sizing: border-box;
}

footer .footer-row h3{
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    width: 100%;
}

footer .footer-row ul{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

footer .footer-row ul li{
    list-style: none;
    font-size: 14px;
}

footer .footer-row ul li a{
    text-decoration: none;
    color: #000;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activities-cards {
        gap: 15px;
    }

    .activities-cards a {
        width: 193.5px;
    }

    .activities-cards .card {
        height: 270px;
    }

    .activities-cards .card img {
        height: 200px;
    }

    .activities-cards .card-content {
        padding: 15px;
    }

    footer{
        flex-direction: column;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .hebergements-and-populaires section.hebergements{
        background-color: transparent;
    }

    .hebergements-and-populaires section.populaires{
        border-radius: 0;
    }

    .hebergements-and-populaires section.populaires .populaires-cards, .hebergements-and-populaires section.hebergements .hebergements-cards .card{
        flex-direction: column;
    }

    .hebergements-and-populaires section.populaires .populaires-cards a, .hebergements-and-populaires section.hebergements .hebergements-cards a{
        width: 100%;
    }
    .welcome{
        gap: 1rem;
    }
    .welcome-title{
        margin: 0;
    }
    .welcome .filter h2{
        width: 100%;
    }
    .welcome .filter{
        flex-wrap: wrap;
        gap: 0;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .welcome .filter .filter-item{
        width: 40%;
        box-sizing: border-box;
    }

    .activities {
        padding: 20px;
    }

    .activities-cards {
        gap: 15px;
        flex-direction: column;
        align-items: center;
    }

    .activities-cards a {
        width: 315px;
    }

    .activities-cards .card {
        height: 200px;
        border-radius: 15px;
    }

    .activities-cards .card img {
        height: 141px;
    }

    .activities-cards .card-content {
        padding: 10px 15px;
    }

    .activities-cards .card-title {
        font-size: 14px;
    }
}